body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
.border {
    padding: 10px 16px;
    margin: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.border h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

ul li{
    display: inline;
}