{% extends "_main.jinja" %}

{% block main %}
    <div class="mt-3 border">
        <h2 class="text-primary">{{ article.title }}</h2>
        <p>{{ article.content }}</p>
    </div>
    
{% endblock %}