{% extends "_main.jinja "%}

{% block main %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias 
    doloremque officiis quaerat a explicabo velit fugiat dolorum tempora asperiores aut.
</p>

{% endblock %}